<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <script src="/socket.io/socket.io.js">
    </script>
<script>
  // 這是什麼醜不啦嘰的東西
  var socket = io();
  var socketid;
  socket.on("connect", (arg) => {
    socketid=socket.id; // true
    console.log(socketid);
    socket.emit("private message",socketid,"private message already send");
  });
  socket.on("account", (arg) => {
    console.log("account said: "+arg); // world
  });
  socket.on('connectToRoom',(arg) => {
    console.log("room said:"+arg); // world
  });
  // // socket.on('private message',(arg) => {
  //   console.log("private message said:"+arg); // world
  // });
  socket.on('private message',(socketid,msg) => {
    console.log(msg);
    console.log("private message said:  "+socketid+"says: "+msg); // world
  });
  socket.emit("hello", "world");
  //console.log(socket.id);
  socket.volatile.emit("private message",socketid,"private message");
</script>
  </body>
</html>
