<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form id="send-form" method="POST" onsubmit="return firstFunction()">
      <input type="text" name="channel" id="channel" placeholder="channel">
      <input type="text" name="ctlmsg" id="ctlmsg" placeholder="ctlmsg">
      <input type="text" name="account_msg" id="account_msg" placeholder="account_msg">
      <input type="text" name="activity_msg" id="activity_msg" placeholder="activity_msg">
      <input type="text" name="latitude_msg" id="latitude_msg" placeholder="latitude_msg">
      <input type="text" name="longitude_msg" id="longitude_msg" placeholder="longitude_msg">
      <input type="text" name="elevation_msg" id="elevation_msg" placeholder="elevation_msg">
      <input type="text" name="distance_msg" id="distance_msg" placeholder="distance_msg">
      <input type="submit" id="submit" value="送出">
    </form>
    <script src="/socket.io/socket.io.js">
    </script>
<script>
  // 這是什麼醜不啦嘰的東西
  var socket = io();
  var socketid;
  socket.on("connect", (arg) => {
    socketid=socket.id; // true
    console.log(socketid);
  });
  socket.on('account',(msg) => {
    console.log("account:");
    console.log(msg);
    //console.log("account said:  ctlmsg:"+msg.ctlmsg+" account_msg:"+msg.account_msg+" activity_msg:"+msg.activity_msg+" friend_msg:"+msg.friend_msg); // world
    if(msg.ctlmsg=="join socket room"){
      socket.volatile.emit("ctlmsg",{"ctlmsg":msg.ctlmsg,"account_msg":msg.account_msg,"activity_msg":msg.activity_msg});
    }
  });
  socket.on('activity',(msg) => {
    console.log(msg);
    //console.log("activity said:  "+msg.account_msg+" 2 "+msg.activity_msg+" 3 "+msg.location_msg);
  });
  var btn = document.getElementById("submit");
  btn.onclick = firstFunction;
  function firstFunction() {
    //alert("The first function executed successfully!");
    var channel = document.getElementById("channel").value;
    var ctlmsg = document.getElementById("ctlmsg").value;
    var account_msg = document.getElementById("account_msg").value;
    //var activity_msg = document.getElementById("activity_msg").value;
    var latitude_msg = document.getElementById("latitude_msg").value;
    var longitude_msg = document.getElementById("longitude_msg").value;
    var elevation_msg = document.getElementById("elevation_msg").value;
    var distance_msg = document.getElementById("distance_msg").value;
    socket.volatile.emit("ctlmsg",{"ctlmsg":"broadcast location","account_msg":account_msg,"activity_msg":"0 test"
    ,"location_msg":{"latitude": latitude_msg,"longitude":longitude_msg,"elevation":elevation_msg},"distance_msg":distance_msg});
    return false;
  }
</script>
  </body>
</html>
